<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="PrinterFarm" providerName="System.Data.SqlClient"
				 connectionString="Data Source=DESKTOP-23QVBVH\SQLEXPRESS;Initial Catalog=PrinterFarm;Integrated Security=True;Connect Timeout=30;
			 Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" />
		<add name="PrinterFarmB" providerName="Microsoft.Data.Sqlite" 
		 connectionString="Data Source=./MyPrinterFarm.db"/>
	</connectionStrings>
</configuration>
